
@import url(css-components/welcome-screen.css);
@import url(css-components/header.css);
@import url(css-components/logo.css);
@import url(css-components/nav.css);
:root {
  --prata-font: "Prata", serif;
}


body {
  background-color: #282829;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}