.welcome-screen{
  display: grid;
  /* == Media == */
  grid-template-areas: "header img""content img";
}

.key-features {
  grid-area: content;
}

.welcome-screen-img {  
  grid-area: img;
  justify-self: end;
}